<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:include="include/_head"></th:block>
    <title>Upload</title>
</head>

<body data-gr-c-s-loaded="true">
<div class="container-fluid">
    <div class="row">
        <th:block th:include="include/_menu"></th:block>
        <div style="margin-top:100px" th:if="${#request.userPrincipal != null}">
            <th:block th:include="include/_navBar"></th:block>
        </div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="">
                <div class="container">
                    <form th:action="@{/firmwareinfo}" th:object="${firmwareinfo}" method="post"
                          enctype="multipart/form-data">
                        <h4>Firmware form</h4>
                        <p id="demo">Your query result here</p>                        
                        <div class="d-block my-3">
                            <label for="deviceChoose">Device</label>
                            <select class="custom-select d-block w-100" id="deviceChoose" required onchange="deviceFind()">
                                <option value="empty">Choose...</option>
                                <option value="livingRoom">Living Room</option>
                                <option value="restRoom">Rest Room</option>
                                <option value="kitchen">Kitchen</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid device.
                            </div>
                            <label for="currentVersion">Current Version: </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input id="currentVersion" type="text" class="form-control" th:field="*{version}"
                                       required="" disabled>
                            </div>
                        </div>
                        <hr class="mb-4">
                        Type of new firmware</hr>

                        <div class="d-block my-3" id="versionTypes" onchange="calcVersion()">
                            <div class="custom-control custom-radio">
                                <input id="release" name="versionType" type="radio" class="custom-control-input"
                                       value="Release"
                                       required>
                                <label class="custom-control-label" for="release">Release</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="minor" name="versionType" type="radio" class="custom-control-input"
                                       value="Minor"
                                       required>
                                <label class="custom-control-label" for="minor">Minor</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="bugfix" name="versionType" type="radio" class="custom-control-input"
                                       value="Bugfix"
                                       required>
                                <label class="custom-control-label" for="bugfix">Bugfix</label>
                            </div>
                        </div>
                        <div class="d-block my-3">
                            <div class="mb-3">
                                <label for="newVersion">New Version :</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input id="newVersion" type="text" class="form-control" th:field="*{version}"
                                           required="" disabled>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="comment">Comment</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input id="comment" type="text" class="form-control" th:field="*{name}" placeholder="Fix bug"
                                           required="">
                                    <div class="invalid-feedback" style="width: 100%;">

                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            File to upload:</hr>
                            <table>
                                <tr>
                                    <td></td>
                                    <td><input class="btn btn-primary my-2" type="file" name="file" required/></td>
                                </tr>
                            </table>
                            <p><input class="btn btn-primary my-2" type="submit" value="Submit"/>
                                <input class="btn btn-primary my-2" type="reset" value="Reset"/></p>
                            <hr class="mb-4"></hr>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Show all device -->
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Living Room</h2>
                        <p class="livingRoom1">ON/OFF Status: </p>
                        <p class="livingRoom2">Curentversion: </p>
                        <p class="livingRoom2">Firmware name: </p>
                        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
                    </div>
                    <div class="col-md-4">
                        <h2>Rest Room</h2>
                        <p class="livingRoom1">ON/OFF Status: </p>
                        <p class="livingRoom2">Curentversion: </p>
                        <p class="livingRoom2">Firmware name: </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Kitchen</h2>
                        <p class="livingRoom1">ON/OFF Status: </p>
                        <p class="livingRoom2">Curentversion: </p>
                        <p class="livingRoom2">Firmware name: </p>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
<script type="text/javascript">
    function calcVersion(){
        var myStr = document.getElementById("currentVersion").value;
        if(myStr.search(".") >= 0){
            var versionType = document.getElementById('versionTypes').value;
            var versionArray = myStr.split(".")

            if(document.getElementById("release").checked){
                versionType = document.getElementById('release').value;
                versionArray[0]++;
            }
            if(document.getElementById("minor").checked){
                versionType = document.getElementById('minor').value;
                versionArray[1]++;
            }
            if(document.getElementById("bugfix").checked){
                versionType = document.getElementById('bugfix').value;
                versionArray[2]++;
            }
            document.getElementById('newVersion').value =
                versionArray[0] + "." + versionArray[1] + "." + versionArray[2] + " " + versionType;
        }
        else{
            var versionArray = myStr.split(".")
            document.getElementById('currentVersion').innerHTML =
                "Location of . is " + myStr.search(".")
                +  versionArray[0] + ","
                + versionArray[1]
                + "," + versionArray[2]
            ' else';
        }

    }
</script>

<script th:inline="javascript">
    function deviceFind() {
        var deviceList = [[${messages}]];
        for(var i = 0; i < deviceList.length; i++){
            if(document.getElementById("deviceChoose").value == "empty") {
                document.getElementById("currentVersion").value = "Please select a device."
                break;
            }

            if(document.getElementById("deviceChoose").value == "livingRoom") {
                document.getElementById("currentVersion").value = deviceList[0].version;
                break;
            }
            if(document.getElementById("deviceChoose").value == "restRoom") {
                document.getElementById("currentVersion").value = deviceList[1].version;
                break;
            }
            if(document.getElementById("deviceChoose").value == "kitchen") {
                document.getElementById("currentVersion").value = deviceList[2].version;
                break;
            }
        }
        document.getElementById("demo").innerHTML = temp;
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:include="include/_jscript"></th:block>

</body>
</html>